extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      .panel.panel-default(style='background-color: #00abf0')
        .panel-body
          img(src='http://i.imgur.com/EYA2FO1.png', height=40)
          a(href='/api/twitter', style='color: #fff')  Twitter